.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.optionsOverlay {
    position: absolute;
    z-index: 10000;
    top: 0.5rem;
    right: 0.5rem;
    /* background: #f0f0f080; */
    /* padding: 8px; */
    /* border-radius: 8px; */
}

.sliderOverlay {
    position: absolute;
    z-index: 11000;
    top: 100%;
    right: 0;
    margin-top: 2rem;
    background: #f0f0f080;
}

.infoOverlay {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    right: 0;
    background: #f0f0f080;
    padding: 0.2rem;
}
/* .githubIcon {
    display: inline !important;
    vertical-align: baseline !important;
    width: 1em;
    height: 0.6669em;
} */

.githubIcon {
    width: 1rem;
    height: 1rem;
    padding-top: 0.2rem;
}
